fastapi
uvicorn
pydantic
pydantic-settings
websockets
python-dotenv
openai
langchain
httpx
sqlalchemy
langchain-core
langchain-community
langgraph
langchain-openai
langchain-google-genai
Langchain-groq
langchain-mistralai
faiss-cpu
tiktoken
requests
langchain_huggingface